* {
    box-sizing: border-box;
   
}
 
body {
    margin-top:50px;
    margin-bottom: 50px;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(242, 235, 211);
}
.grid {
    width: 620px;
    margin-top: 0;
    margin-bottom: 20px;
    height: 100vh;
    background-color: rgb(242, 235, 211);
    border: 20px white solid;
    border-radius: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 20px;

}
div img {
    width: 130px;
    height: 200px;
    background-color: white;
    border:solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
button {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(228,49,34);
  color: white;
  font-size: 16px;
  padding: 62px 84px;
  cursor: pointer;
  border-bottom: 30px solid black;
  border-left: 25px solid rgb(242, 235, 211);
  border-right: 25px solid rgb(242, 235, 211);
  height: 0;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Belanosima', sans-serif;
  
}

.heading {
  position: absolute;
  color: rgb(228,49,34);;
  z-index: 1;
  top: 10%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 3px 0 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Belanosima', sans-serif;
  letter-spacing: .2rem;

}
.title {
    font-size: 100px;

}
.sub {
    display: flex;
    color: black;
    background-color: white;
    background: rgba(255,255,255, 0.9);
    justify-content: center;
    align-items: center;
    font-family: 'Belleza', sans-serif;
    text-align: center;
    text-shadow: none;
    margin-top: 0;
    line-height: 2;
    letter-spacing: .2rem;
}
.score {
 font-size: 40px;
 margin-bottom: 0;
 
}
.timer {

    margin:0;
    font-size: 40px;
}
.popup {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: black dotted 10px;
    background: rgb(228,49,34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    visibility: hidden;
    font-family: 'Belanosima', sans-serif;
    font-size: 22px;
    line-height: 30px;
}

